body {
  font-family: "Fredoka", sans-serif;
  margin: 0;
  background: linear-gradient(
      to top,
      rgba(247, 100, 37, 1) -90%,
      rgba(0, 0, 0, 0.3)
    ),
    url("zaga3.jpeg");
  /*background-image: url(Zaga3.jpeg);*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header h2 {
  font-size: 40px;
}

.title {
  color: #fff;
  margin-left: 15px;
}

header img {
  height: 55px;
  margin-top: 5px;
}

.botonera {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #fff;
}

#form-nticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #fff;
}

#form-consulta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #fff;
}

#select_usuarios,
#asunto-ticket,
#id-ticket {
  border: 2px solid #ff8c00;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  padding: 5px;
  font-size: 15px;
  margin: 10px 0;
  color: #fff;
}

#l-asunto,
#l-descripcion,
#l-id-ticket {
  font-size: 18px;
}

#descripcion-ticket {
  border: 2px solid #ff8c00;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  width: 400px;
  height: 120px;
  padding: 5px;
  font-size: 15px;
  margin: 10px 0;
  color: #fff;
  resize: none;
}

#select_usuarios::placeholder,
#asunto-ticket::placeholder,
#descripcion-ticket::placeholder,
#id-ticket::placeholder {
  color: #c7c7c7;
}

#link_login {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-top: 80%;
  bottom: 50px;
  right: 20px;
  position: absolute;
}

#btn-nticket,
#btn-consulta,
#btn-volver {
  border: 2px solid #ff8c00;
  background-color: #ff8c00;
  color: white;
  height: 75px;
  width: 150px;
  border-radius: 5px;
  margin: 20px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

#btn-nticket:hover,
#btn-consulta:hover
#btn-volver {
  background-color: white;
  color: #ff8c00;
}

#boton1,
#boton2{
  border: 2px solid #ff8c00;
  background-color: #ff8c00;
  color: white;
  height: 80px;
  width: 250px;
  border-radius: 5px;
  margin: 20px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

#boton1:hover,
#boton2:hover {
  background-color: white;
  color: #ff8c00;
}

#id1,
#title1,
#desc1,
#sta1,
#it1 {
  color: #ff8c00; /* Color para los <p> */
  font-size: 20px;
}

#r-id-ticket,
#title-ticket,
#description-ticket,
#status-ticket,
#it-ticket{
  color: #fff;
  display: inline-block; /* Cambia el comportamiento a inline-block */
  margin-left: 10px;
  font-size: 16px;
}

#description-ticket{
  white-space: normal;
  overflow-wrap: break-word;
  width: 500px;
}

footer {
  background-color: transparent;
  color: white;
  text-align: center;
  margin-top: auto;
}

footer p a {
  text-decoration: none;
  color: white;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-left: 0;
    text-align: center;
  }

  header img {
    height: 50px; /* Tamaño de logo reducido en móviles */
  }

  form {
    width: 100%;
    padding: 20px;
  }

  #username,
  #password {
    width: 90%; /* Ajusta los campos al 90% del ancho de la pantalla */
  }

  #boton1,
  #boton2 {
    width: 90%; /* Botón más ancho en pantallas pequeñas */
  }

  footer {
    padding: 20px;
    font-size: 14px; /* Texto más pequeño en el footer */
  }
}

/* Estilos responsive para pantallas muy pequeñas (móviles antiguos) */
@media (max-width: 480px) {
  #username,
  #password,
  #boton1,
  #boton2 {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  #boton1 {
    height: 50px;
  }

  header {
    padding: 5px;
  }
}
